langchain-ollama
langchain_core
langchain~=0.2.15
langchain_community
pillow==10.1.0
streamlit_supabase_auth
streamlit==1.32.0


pandas~=2.0.3
pydeck~=0.9.1
numpy~=1.24.4
langchain-community~=0.2.15
langchain-text-splitters~=0.2.2
altair~=5.4.1
langchain-core~=0.2.37